<div class="follow">
  <div class="follow__instagram">
    <span class="follow__instagram-title">FOLLOW US ON INSTAGRAM</span>
    <span class="follow__instagram-name">@ tamtamnl</span>
    <div class="follow__instagram-story">
      <div class="follow__instagram-item">
        <img class="follow__instagram-picture" src="/static/img/insta1.png">
        <span class="follow__instagram-description">Last Thursday emerce organised their own ADE and we were part of it! Where are you gonna party tonight? #ADE#tbt #enight #tamtam</span>
      </div>
      <div class="follow__instagram-item">
        <img class="follow__instagram-picture" src="/static/img/insta2.png">
        <span class="follow__instagram-description">We're feeling happier and happier thanks to these nice dutch flowers we received from Florensis! #holland #flowers #doordebloemenofficenietmeerzien #settingthebloemetjesoutside</span>
      </div>
      <div class="follow__instagram-item">
        <img class="follow__instagram-picture" src="/static/img/insta3.png">
        <span class="follow__instagram-description">We are VERY VERY happy with our Silver Lovie Award and People's Lovies Winner for the Docters without borders website! #lovies #tamtamhome #proud #celebration</span>
      </div>
      <div class="follow__instagram-item">
        <img class="follow__instagram-picture" src="/static/img/insta4.png">
        <span class="follow__instagram-description">Thanks @radio538 and @maxpinas for bringing us friday beats with our brand new #marshall speakers! #friyay #gift #speaker #tamtamhome</span>
      </div>
      <div class="follow__instagram-item">
        <img class="follow__instagram-picture" src="/static/img/insta5.png">
        <span class="follow__instagram-description">Friyay! Coffee anyone? #almostweekend #tamtamhome #koffiemax #latteart</span>
      </div>
      <div class="follow__instagram-item">
        <img class="follow__instagram-picture" src="/static/img/insta6.png">
        <span class="follow__instagram-description">TamTam Talks Search Edition! First edition with our new colleagues from Expand Online 👌💪 #tamtamhome #tttalks #breakfast #search</span>
      </div>
    </div>
    
  </div>
</div>