<div id="follow" class="follow">
  <div class="follow__inner-wrapper">
    <h2 class="follow__title">Follow us on instagram</h2>
    <span class="follow__name">@ tamtamnl</span>
    <div class="follow__stories">
      <div class="follow__story">
        <img class="follow__picture" src="/static/img/insta1.png">
        <span class="follow__description">Last Thursday emerce organised their own ADE and we were part of it! Where are you gonna party tonight? #ADE#tbt #enight #tamtam</span>
      </div>
      <div class="follow__story">
        <img class="follow__picture" src="/static/img/insta2.png">
        <span class="follow__description">We're feeling happier and happier thanks to these nice dutch flowers we received from Florensis! #holland #flowers #doordebloemenofficenietmeerzien #settingthebloemetjesoutside</span>
      </div>
      <div class="follow__story">
        <img class="follow__picture" src="/static/img/insta3.png">
        <span class="follow__description">We are VERY VERY happy with our Silver Lovie Award and People's Lovies Winner for the Docters without borders website! #lovies #tamtamhome #proud #celebration</span>
      </div>
      <div class="follow__story">
        <img class="follow__picture" src="/static/img/insta4.png">
        <span class="follow__description">Thanks @radio538 and @maxpinas for bringing us friday beats with our brand new #marshall speakers! #friyay #gift #speaker #tamtamhome</span>
      </div>
      <div class="follow__story">
        <img class="follow__picture" src="/static/img/insta5.png">
        <span class="follow__description">Friyay! Coffee anyone? #almostweekend #tamtamhome #koffiemax #latteart</span>
      </div>
      <div class="follow__story">
        <img class="follow__picture" src="/static/img/insta6.png">
        <span class="follow__description">TamTam Talks Search Edition! First edition with our new colleagues from Expand Online 👌💪 #tamtamhome #tttalks #breakfast #search</span>
      </div>
    </div>
  </div>
</div>