<div class="follow">
  <div class="follow__instagram">
    <span class="follow__instagram-title">FOLLOW US ON INSTAGRAM</span>
    <span class="follow__instagram-name">@ tamtamnl</span>

    
  </div>
</div>