.follow {
  background-image: url("/static/img/forest-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  
  &__wrapper {
    text-align: center;
  }
  &__title {
    color: @font-bluish-gray;
    display: block;
    padding: 70px 0 15px 0;

    @media (max-width: @desktopWidth) {
      padding: 70px 0 15px 0;
    }
    @media (max-width: @tabletWidth) {
      padding: 50px 0 15px 0;
      font-size: 29px;
    }
    @media (max-width: @mobileWidth) {
      padding: 50px 0 15px 0;
      font-size: 26px;
    }    
  }
  &__name {
    display: block;
    color: @font-white;
    padding-bottom: 40px;
    font: 400 30px/40px @Lato;
  }
  &__story {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 15px;
    width: 940px;
    margin: 0 auto;

    @media (max-width: @desktopWidth) {
      width: 640px;
      justify-content: space-around;
    }
    @media (max-width: @tabletWidth) {
      width: 320px;
      justify-content: center;
    }
    @media (max-width: @mobileWidth) {
      width: 320px;
      justify-content: center;
    }
  }
  &__story-item {
    min-height: 380px;
    background-color: @color-white;
    margin-bottom: 20px;
    text-align: left;
  }
  &__description {
    font: 700 15px @Lato;
    display: flex;
    width: 300px;
    color: @font-warm-grey;
    padding: 15px 10px 15px 15px;
    box-sizing: border-box;
  }  
}