.follow {
  background-image: url("/static/img/forest-background.jpg");
  background-repeat: no-repeat;
  height: 1299px;
  background-position: 50% 50%; 
  background-size: cover;  
}
.follow__instagram {
  text-align: center;
}
.follow__instagram-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  color: @font-bluish-gray;
  display: block;
  padding: 90px 0 15px 0;
}
.follow__instagram-name {
  font-weight: 400;
  font-size: 30px;
  display: block;
  color: @font-white;
}