<ul class="header__menu">
  <li class="header__menu-item"><a href="index.html" class="header__menu-link">Home</a></li>
  <li class="header__menu-item"><a href="index.html" class="header__menu-link">People</a></li>
  <li class="header__menu-item"><a href="contact.html" class="header__menu-link">Contact</a></li>
</ul>
<div class="header__mobile">
  <a class="header__mobile-link" href="/">
    <img class="header__mobile-icon" src="static/img/icons/mobile-nav-white.png">
  </a>
</div>

