

<ul class="header__menu-desktop">
  <li class="header__menu-item"><a href="index.html" class="header__menu-link">Home</a></li>
  <li class="header__menu-item"><a href="index.html" class="header__menu-link">People</a></li>
  <li class="header__menu-item"><a href="contact.html" class="header__menu-link">Contact</a></li>
</ul>