.header {
  background-color: @font-black;
  width: auto;
  height: 80px;
  display: flex;

  @media (max-width: 480px) {
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
}
    &__logo-image {
    height: 34px;
    width: 34px;
    margin: 23px 30px 23px 30px;

    @media (max-width: 480px) {
    margin: 25px 0 0 0;
    padding: 0 0 0 0;
  }
  }    
    &__menu {
    font-weight: 700;
    font-size: 19px;
    display: flex;

    @media (max-width: 480px) {
    display: block;
  }
  }  
    &__menu-link {
    text-decoration: none;
    color: @font-warm-grey;
  }
    &__menu-item {
    padding: 0 20px 0 20px;
    line-height: 78px;

    @media (max-width: 480px) {
    display: none;
  }
  }
    &__menu-link:hover {
    color: @font-white;
  }
    &__mobile {
    display: none;
    
    @media (max-width: 480px) {
    display: block;
  }    
  }
    &__mobile-icon {
    height: 42px;
    margin: 20px 150px 0 30px;
  }
}

.header__mobile-menu {
  display: none;
  font-size: 35px;
  background-color: black;
  padding: 30px 0 30px 0;
  border-top: 1px solid @font-white;
  margin-top: 10px;
  width: 480px;
  text-align: center;
}
.header__mobile-item {
  line-height: 80px;
}
.header__mobile-wrapper:hover .header__mobile-menu {
  @media (max-width: 480px) {
  display: block;
}
}
.header__mobile-link {
  text-decoration: none;
  color: @font-white;
}
.header__mobile-link:hover {
  color: @font-salmon;  
}

