
<div class="JS-Menu header__menu" data-menu-params="{'cssElemOpen': 'header__menu_open'}">
  <ul class="JS-Menu-Content header__menu-main">
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">Home</a></li>
    <li class="header__menu-item"><a href="index.html" class="header__menu-link">People</a></li>
    <li class="header__menu-item"><a href="contact.html" class="header__menu-link">Contact</a></li>
  </ul>
  <div class="header__menu-hamburger">
    <a class="header__menu-link" href="javascript:;">
      <img class="JS-Menu-Open header__menu-mobile header__menu-mobile_hamburger" src="static/img/icons/mobile-nav-white.png">
      <img class="JS-Menu-Close header__menu-mobile header__menu-mobile_cross" src="static/img/icons/menu-cross-white.png">
    </a>
  </div>
</div>