.header {
  background-color: @color-black;
  width: auto;
  height: 80px;
  display: flex;

  @media (max-width: @mobileWidth) {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
  }

  &__logo-image {
    height: 35px;
    margin: 22px 30px 0 30px;

    @media (max-width: @mobileWidth) {
      
    }
  }    
  &__menu {
    font: 700 20px @Lato;
    display: flex;
    list-style-type: none;

    @media (max-width: @mobileWidth) {
      display: block;
    }
  }  
  &__menu-link {
    text-decoration: none;
    color: @font-warm-grey;
  }
  &__menu-item {
    padding: 0 20px 0 20px;
    line-height: 78px;

    @media (max-width: @mobileWidth) {
      display: none;
    }
  }
  &__menu-link:hover {
    color: @font-salmon;
  }
  &__mobile {
    display: none;
    
    @media (max-width: @mobileWidth) {
      display: block;
      width: auto;
    }    
  }
  &__mobile-icon {
    height: 37px;
    margin: 22px 0 17px 30px;
  }
  &__mobile-nav {
    display: none;
  }
  &__mobile:hover .header__mobile-nav {
    display: block;
    font: 700 40px/65px @Lato;
    width: auto;
    background-color: green;
    list-style-type: none;
  }
  &__mobile-item {

  }
}

