<div class="form">
  <div class="form__wrapper">
    <h2 class="form__title">WE WOULD LOVE TO HEAR FROM YOU</h2>
    <div class="form__attention">
      <span class="form__attention-circle">!</span>
      <span class="form__attention-text">Please complete the form and try again.</span>
    </div>
    <div class="form__background">
      <div class="form__item">
        <input class="form__general" type="text" placeholder="First name">
        <span class="form__tooltip">We need your first name.</span>
        <img class="form__icon" src="static/img/icons/check.png">
      </div>
      <div class="form__item">
        <input class="form__general" type="text" placeholder="Last name">
        <span class="form__tooltip">We need your last name.</span>
        <img class="form__icon" src="static/img/icons/check.png">  
      </div>
      <div class="form__item">
        <input class="form__general" type="text" placeholder="Your e-mail address">
        <span class="form__tooltip">Please use a valid e-mail address.</span>
        <img class="form__icon" src="static/img/icons/check.png">
      </div>
      <div class="form__item">
        <input class="form__general" type="text" placeholder="Your phone number (optional)">
        <span class="form__tooltip">We need your phone number.</span>
        <img class="form__icon form__icon_visible" src="static/img/icons/check.png">
      </div>
      <div class="form__item form__item_large">
        <textarea class="form__general form__general_large" placeholder="Your message..."></textarea>
        <span class="form__tooltip form__tooltip_large">Sorry, your message can’t be empty.</span>
        <img class="form__icon" src="static/img/icons/check.png">
      </div>
    </div>
    <button class="form__button">Send</button>
  </div>
</div>

