.intro {
  background-image: url("/static/img/roller-coaster-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: cover;
    &__client {
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 300px;
  }
    &__case {
    text-align: center;  
  }
    &__case-button {
    font-weight: 700;
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    background-color: @font-black;
    color: @font-white;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid @font-black;
    display: inline-block;
    margin: 35px 6px 175px 6px;
    line-height: 24px;
  }
    &__case-button:hover {
    background-color: @font-salmon;
    border: 1px solid @font-salmon;  
  }
    &__case-button_nav {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
  }
    &__scroll {
    text-align: center;  
  }
    &__scroll-button {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid @font-white;
    background-color: @font-white;
    background-image: url("/static/img/icons/mouse-black.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px 34px;

    @media (min-width: 481px) and (max-width:768px) {
    background-image: url("/static/img/icons/arrow-black.png");
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: 15px;
    margin-bottom: 20px;

  }
    @media (max-width: 480px) {
    background-image: url("/static/img/icons/arrow-black.png");
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: 15px;
    margin-bottom: 20px;    
  }    
  }
    &__scroll-button:hover {
    background-image: url("/static/img/icons/mouse-salmon.png");

    @media (min-width: 481px) and (max-width:768px) {
    background-image: url("/static/img/icons/arrow-salmon.png");
  }
    @media (max-width: 480px) {
    background-image: url("/static/img/icons/arrow-salmon.png");
  }
  }
    &__scroll-nav {
    font-weight: 700;
    font-size: 20px;
    color: @font-white;
    margin-top: 4px;

    @media (min-width: 481px) and (max-width:768px) {
    display: none;
  }
    @media (max-width: 480px) {
    display: none;
  }
  }
    &__about {
    text-align: center;
    background-color: @font-white;
    box-sizing: border-box;  
    padding: 100px 250px 100px 250px;
    
    @media (min-width: 1025px) and (max-width:1440px) {
    padding: 100px 140px 100px 140px;      
  }
    @media (min-width: 769px) and (max-width:1024px) {
    padding: 80px 50px 80px 50px;
  }
    @media (min-width: 481px) and (max-width:768px) {
    padding: 60px 50px 60px 50px;
  }
    @media (max-width: 480px) {
    padding: 40px 30px 40px 30px;
  }
  }
    &__about-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 38px;
    display: block;
    padding-bottom: 20px;

    @media (min-width: 769px) and (max-width:1024px) {
    font-size: 34px;
  }
    @media (min-width: 481px) and (max-width:768px) {
    font-size: 30px;  
  }
    @media (max-width: 480px) {
    font-size: 24px;  
  }
  }
    &__about-text {
    font-weight: 300;
    font-size: 27px;
    display: block;

    @media (min-width: 769px) and (max-width:1024px) {
    font-size: 25px;
  }
    @media (min-width: 481px) and (max-width:768px) {
    font-size: 23px;  
  }
    @media (max-width: 480px) {
    font-size: 21px;  
  }    
  }
}
.fa-angle-right {
  padding-left: 3px;
}
.fa-angle-left {
  padding-right: 3px;
}