<div class="footer">
  <span class="footer__social"><i class="fab fa-facebook-f"></i></span>
  <span class="footer__social"><i class="fab fa-twitter"></i></span>
  <span class="footer__social"><i class="fab fa-instagram"></i></span>    
</div>