<div class="footer">
  <div class="footer__social">
    <span class="footer__social-item">
      <i class="fab fa-facebook-f"><a class="footer__social-link" href="javascript:;"></a></i>
    </span>
    <span class="footer__social-item footer__social-twitter">
      <i class="fab fa-twitter"><a class="footer__social-link" href="javascript:;"></a></i>
    </span>
    <span class="footer__social-item">
      <i class="fab fa-instagram"><a class="footer__social-link" href="javascript:;"></a></i>
    </span>
  </div>    
</div>