<div class="footer">
  <div class="footer__social-wrapper">
    <span class="footer__social">
      <i class="fab fa-facebook-f"><a class="footer__social-link" href="/"></a></i>
    </span>
    <span class="footer__social footer__social-twitter">
      <i class="fab fa-twitter"><a class="footer__social-link" href="/"></a></i>
    </span>
    <span class="footer__social">
      <i class="fab fa-instagram"><a class="footer__social-link" href="/"></a></i>
    </span>
  </div>    
</div>