<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Contact</title>
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>
  <div class="global-wrapper JS-Content">
    <div class="l-layout">
      <div class="header">
        <div class="header__logo-wrapper">
          <a class="header__logo" href="/">
            <img class="header__logo-image" src="static/img/icons/logo.png">
          </a>
        </div>
        <div class="header__menu">
          {{> modules/menu/menu}}
        </div>
      </div>
        {{> modules/form/form}}
        {{> modules/footer/footer}}
      </div>
  </div>
</body>
</html>
